#contenedor {
    position: absolute;
    top:50%;
    left:50%;
    width: 800px;
    height: 600px;
    margin-top: -300px;
    margin-left: -400px;
    border: 1px solid black;
}

#contenedor1 {
    width: 250px;
    height: 70px;
    border: 1px solid red;
}