{% load staticfiles %}
<!DOCTYPE html>
<html lang="en"> 
  <head> 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <title>{% block title %}{% if page_title %}{{ page_title }} - {% endif %}{{ site_name }}{% endblock %}</title>
    <meta name="keywords" content="{{ palabras_claves }}" />
    <meta name="description" content="{{ descripcion }}" />
    <link  rel="stylesheet"  type="text/css"  href="{% static 'vistaprevia/css/style.css' %}" /> 
  </head> 
  <body> 
    {% block contenedor %}{% endblock %} 
  </body> 
</html>